global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ubuntu-server'
    static_configs:
      - targets: ['192.168.56.21:9100']
        labels:
          alias: 'ubuntu-monitoring-server'

  - job_name: 'windows-server'
    static_configs:
      - targets: ['192.168.56.20:9182']
        labels:
          alias: 'windows-server-01'